*{
    font-family: 'Sen', sans-serif;
}

body {
    background: url("outages-map-background.png") no-repeat center center fixed;
    background-size: cover;
}

.leaflet-container{
    width: 65%;
    height: 80vh;
    margin: auto;
    margin-top: 2%;
    z-index: 0;
}

.modal-container{
    position: fixed;
    z-index: 1;
    width: 50%;
    height: 50vh;
}