.tab-button{
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1px 2px;
  transition: 0.3s;
}
p{
  width: auto;
  height: auto;
  text-align: left;  
  font-size: 1.2rem; 
  padding-left: .5em;
  color: white;
  
}
h2 {
  color: #fff;
  display: block;
  font-size: 40px;
  padding-bottom: 10px;
}
.profiletab {
    size: auto;
    text-align: center;
    min-height: 5px;
    background: orange;
    margin: 1.5rem auto .5rem;    
    color: #E8F0F2;
    display: flex;
    border: 1px solid black;
    border-bottom: none;
    list-style: none;
    padding: 5px 10px;    
}
.tab-button:hover {
    background: rgba(134, 136, 136, 0.15);
  }
.tab-button:active {
    background: orange;
    position: relative;
  }
.tab-content{
  display:inline-block;
  align-content: center;
  border-top: 0;
  border-bottom: 1px solid #fff;  
}