.tab-content{
  margin:0 auto;
  width:70%;
  text-align:center;
  margin-top:15vh;
}
#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}
.profile-tabbed-view{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.1rem;
  padding-top: 1em;
  }
.ptab-row {
    height: auto;
    width: auto;
    font-size:1.5rem; 
    background-color:transparent;
    border-bottom: 1px solid white;  
}

.profile-tabbed-view .ptab-grid {
    height: 100%;
    text-align: center;
}

.profile-tabbed-view .pv-col-border {
    overflow: auto;
    height: 100%;
    min-height: 800px;
    border-left: 1px solid #ccc;
}

.profile-tabbed-view .ptab-ms-c {
    width: 80%;
    height: auto;
    min-height: 400px;
    background: #176f6f;
    margin: 3.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #E8F0F2;
    border-radius: 2rem;
    @media (max-width: 769px) {
    padding: 2rem 0;
    }
}
ul.pnav li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
  ul.pnav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  ul.pnav li:hover {
    background: rgba(134, 136, 136, 0.15);
  }
  ul.pnav li.active {
    background: orange
  }

.profileview-tab{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.1rem;
  padding-top: 1em;
  display: block;
}
p{
  width: auto;
  height: auto;
  text-align: left;  
  font-size: 1.2rem; 
  padding-left: .5em;
}
