html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Helvetica, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-image: url('outages-map-background.png');
  background-size: cover;
} 

.form-group {
  padding: 0em 4em 3em;
  max-width: 400px;
}

#main-holder {
  width: 30%;
  height: 40%;
  margin-top: 50%;
  display: center;
  justify-items: center;
  align-items: center; 
  background-color: #ffffffb6;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

h1 {
  padding-top: 10px;
  font-size: 32px;
  text-align:center;
}
